# 1. Dependencies (File Besar & Tidak Perlu Dicopy)
/node_modules
/package-lock.json

# 2. Keamanan (File Sensitif - PALING PENTING!)
.env
.env.development
.env.production

# 3. Log dan Cache (File Sampah Otomatis)
npm-debug.log*
yarn-error.log*
*.log
*.sqlite
/dist
/build

# 4. Konfigurasi IDE/Editor
.vscode/
.idea/